In [50]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pathlib import Path
from functools import reduce

In [78]:
Device_id = 2
df = pd.read_csv(f"..\\..\\data\\devices\\device_{Device_id}\\Skiliket_Device_{Device_id}_FULL_HISTORY.csv")

In [79]:
df.head()

   device_id type  value                   created_at
0          2  AQI    1.0  2024-11-19T18:09:54.000000Z
1          2  AQI    3.0  2024-11-19T18:14:36.000000Z
2          2  AQI    3.0  2024-11-19T18:15:40.000000Z
3          2  AQI    3.0  2024-11-19T18:16:44.000000Z
4          2  AQI    3.0  2024-11-19T18:17:49.000000Z

In [80]:
df.describe()

       device_id          value
count   813096.0  813096.000000
mean         2.0     139.776024
std          0.0     215.189507
min          2.0       0.000000
25%          2.0       3.000000
50%          2.0      54.286815
75%          2.0     198.000000
max          2.0   33275.000000

In [81]:
df["Time"] = pd.to_datetime(df["created_at"], errors="coerce")
df = df.dropna(subset=["created_at"]).set_index("Time")

In [82]:
df_pivot = (
    df.pivot_table(
        index="Time",   # eje temporal
        columns="type",        # AQI, ECO2, etc.
        values="value",        # lo que quieres medir
        aggfunc="mean"         # por si hay duplicados
    )
    .sort_index()
)

In [83]:
df_pivot.columns.name = None

In [84]:
df_pivot.head()

,AQI,ECO2,Humidity,Noice,Soil Moisture,TVOC,Temperature,UV Intensity
Time,,,,,,,,
2024-11-19 18:09:53+00:00,NaN,NaN,NaN,NaN,NaN,33.0,NaN,0.0
2024-11-19 18:09:54+00:00,1.0,429.0,NaN,NaN,NaN,NaN,30.28049,NaN
2024-11-19 18:09:55+00:00,NaN,NaN,68.39523,NaN,198.0,NaN,NaN,NaN
2024-11-19 18:14:35+00:00,NaN,NaN,NaN,NaN,NaN,233.0,NaN,0.0
2024-11-19 18:14:36+00:00,3.0,733.0,NaN,NaN,NaN,NaN,32.59563,NaN

In [85]:
type(df.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [86]:
df_pivot.to_csv(f"..\\..\\data\\devices\\device_{Device_id}\\pivot_{Device_id}.csv", index=True)