In [37]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pathlib import Path
from functools import reduce

In [91]:
Device_id = 7
df = pd.read_csv(f"..\\..\\data\\devices\\device_{Device_id}\\Skiliket_Device_{Device_id}_FULL_HISTORY.csv")

In [92]:
df.head()

   device_id type  value                   created_at
0          7  AQI    0.0  2025-01-27T18:03:18.000000Z
1          7  AQI    0.0  2025-01-10T17:12:57.000000Z
2          7  AQI    0.0  2025-01-10T17:14:03.000000Z
3          7  AQI    0.0  2025-01-10T17:15:12.000000Z
4          7  AQI    0.0  2025-01-10T17:16:21.000000Z

In [93]:
df.describe()

       device_id         value
count  1048254.0  1.048254e+06
mean         7.0  3.211289e+01
std          0.0  6.433706e+01
min          7.0  0.000000e+00
25%          7.0  0.000000e+00
50%          7.0  0.000000e+00
75%          7.0  2.673583e+01
max          7.0  2.034000e+03

In [94]:
df["created_at"] = pd.to_datetime(df["created_at"], errors="coerce")
df = df.dropna(subset=["created_at"]).set_index("created_at")

In [95]:
df_pivot = (
    df.pivot_table(
        index="created_at",   # eje temporal
        columns="type",        # AQI, ECO2, etc.
        values="value",        # lo que quieres medir
        aggfunc="mean"         # por si hay duplicados
    )
    .sort_index()
)

In [96]:
df_pivot.columns.name = None

In [97]:
df_pivot.head()

,AQI,ECO2,Humidity,Noice,Soil Moisture,TVOC,Temperature,UV Intensity
created_at,,,,,,,,
2025-01-10 17:12:48+00:00,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0
2025-01-10 17:12:57+00:00,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2025-01-10 17:12:58+00:00,NaN,NaN,NaN,NaN,NaN,NaN,17.7063,NaN
2025-01-10 17:12:59+00:00,NaN,NaN,72.37949,NaN,NaN,NaN,NaN,NaN
2025-01-10 17:13:00+00:00,NaN,NaN,NaN,NaN,198.0,NaN,NaN,NaN

In [98]:
type(df.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [99]:
df_pivot.to_csv(f"..\\..\\data\\devices\\device_{Device_id}\\pivot_{Device_id}.csv", index=False)